## Imports

In [1]:
import pandas as pd

In [3]:
# Read in the datasets
bofa_csv = "data/bofa_spending_mod.csv"
bofa_df = pd.read_csv(bofa_csv)

chase_csv = "data/chase_spending.csv"
chase_df = pd.read_csv(chase_csv)

apple_csv = "data/apple_spending.csv"
apple_df = pd.read_csv(apple_csv)

In [4]:
bofa_df.head(10)

,Posted Date,Reference Number,Payee,Address,Category,Type,Amount
0,05/09/2023,24013393128000843027542,GALPAO GAUCHO CUPERTINO,CUPERTINO CA,Food & Drink,Sale,-175.44
1,05/04/2023,12483204320050400050016,PAYMENT - THANK YOU,NaN,NaN,Payment,1789.32
2,04/28/2023,24137463117100440204356,TST* TEASPOON - SARATOGA,SAN JOSE CA,Food & Drink,Sale,-5.50
3,04/25/2023,24431063115091711000198,CHIPOTLE 1031,NEWARK CA,Food & Drink,Sale,-24.53
4,04/24/2023,24431063114091710000737,CHIPOTLE 1031,NEWARK CA,Food & Drink,Sale,-13.84
5,04/24/2023,24765013113200000000982,DINO'S RESTAURANT,FREMONT CA,Food & Drink,Sale,-38.00
6,04/24/2023,24445003113000830662095,CKE*IKES PLACE PALO ALTO,PALO ALTO CA,Food & Drink,Sale,-36.33
7,04/24/2023,24435653113091072000619,IKEA EAST PALO ALTO,PALO ALTO CA,Shopping,Sale,-7.81
8,04/24/2023,24435653113091585000536,IKEA EAST PALO ALTO,PALO ALTO CA,Shopping,Sale,-313.13
9,04/24/2023,24323043112040300073195,DINOS GRILL,NEWARK CA,Food & Drink,Sale,-33.03

In [5]:
chase_df.head(10)

,Transaction Date,Post Date,Description,Category,Type,Amount,Memo
0,05/25/2023,05/26/2023,Kindle Svcs*O67RM7PS3,Shopping,Sale,-9.99,NaN
1,05/19/2023,05/21/2023,Payment Thank You-Mobile,NaN,Payment,24.98,NaN
2,05/12/2023,05/14/2023,Netflix,Bills & Utilities,Sale,-19.99,NaN
3,05/11/2023,05/12/2023,Spotify USA,Bills & Utilities,Sale,-4.99,NaN
4,05/05/2023,05/05/2023,Payment Thank You - Web,NaN,Payment,220.63,NaN
5,05/03/2023,05/04/2023,PAYPAL *STEAM GAMES,Entertainment,Sale,-29.22,NaN
6,05/02/2023,05/02/2023,PAYPAL *STEAM GAMES,Entertainment,Sale,-19.99,NaN
7,04/30/2023,05/02/2023,IZUMI SUSHI,Food & Drink,Sale,-154.95,NaN
8,04/30/2023,05/02/2023,BERKELEY BOWL WEST,Groceries,Sale,-5.99,NaN
9,04/29/2023,04/30/2023,PAYPAL *GWDCONCEPTS,Shopping,Sale,-10.48,NaN

In [6]:
apple_df.head(10)

,Transaction Date,Clearing Date,Description,Merchant,Category,Type,Amount (USD),Purchased By
0,05/27/2023,05/29/2023,KHAN SHABU SHABU AND B1010 E ELCAMINO REAL SUN...,Khan Shabu Shabu and B,Restaurants,Purchase,96.49,Daniel Huang
1,05/25/2023,05/26/2023,SAFEWAY #1224 5877 JARVIS AVE NEWARK 94560 CA USA,Safeway,Grocery,Purchase,24.22,Daniel Huang
2,05/23/2023,05/25/2023,DINOS GRILL 5855 JARVIS AVE STE A NEWARK 94560...,Dino's Grill,Restaurants,Purchase,39.26,Daniel Huang
3,05/23/2023,05/23/2023,OSAKA MARKETPLACE 46881 WARM SPRINGS BOULE FRE...,Osaka Marketplace,Grocery,Purchase,9.30,Daniel Huang
4,05/19/2023,05/21/2023,MCDONALDS 12056 3000 NEWPARK MALL RD NEWARK 94...,McDonald's,Restaurants,Purchase,9.06,Daniel Huang
5,05/18/2023,05/19/2023,SAFEWAY #1224 5877 JARVIS AVE NEWARK 94560 CA USA,Safeway,Grocery,Purchase,36.43,Daniel Huang
6,05/17/2023,05/18/2023,BEST BUY 000085163090 STEVENS CREEK BVD SAN JO...,Best Buy,Other,Purchase,76.55,Daniel Huang
7,05/16/2023,05/17/2023,HABIT FREMONT #93 Q9143830 PACIFIC COMMONS BL ...,Habit Fremont #93 Q91,Restaurants,Purchase,33.42,Daniel Huang
8,05/12/2023,05/14/2023,MCDONALDS 12056 3000 NEWPARK MALL RD NEWARK 94...,McDonald's,Restaurants,Purchase,10.49,Daniel Huang
9,05/13/2023,05/13/2023,CAL ALUMNI ASSOCIATION1 ALUMNI HOUSE (MEMB) BE...,Cal Alumni Association,Other,Purchase,340.00,Daniel Huang